<a href="http://www.podarini.ru/">
<object
  classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
  codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0"
  width="728" height="90">
  <param name="movie" value="http://www.balancer.ru/img/b/podarini-728x90.swf" />
  <param name="quality" value="high" />
  <embed src="http://www.balancer.ru/img/b/podarini-728x90.swf"
    quality="high" bgcolor="#ffffff" width="728" height="90"
    type="application/x-shockwave-flash"
    pluginspage="http://www.macromedia.com/go/getflashplayer">
  </embed>
</object>
</a>
