<div class="post">
	<div class="head">
		Google
	</div>

	<div class="body" style="text-align: center; height: 300px; white-space: nowrap; overflow: hidden;">
		<div style="width: 30%; display: inline-block">
			<ins class="adsbygoogle"
    			 style="display:block"
		    	 data-ad-client="ca-pub-2102095900235764"
		    	 data-ad-slot="5347277535"
			     data-ad-format="auto">
			</ins>
			<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
		</div>
		<div style="width: 30%; display: inline-block">
			<ins class="adsbygoogle"
    			 style="display:block"
		    	 data-ad-client="ca-pub-2102095900235764"
		    	 data-ad-slot="6544809138"
			     data-ad-format="auto">
			</ins>
			<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
		</div>
		<div style="width: 30%; display: inline-block">
			<ins class="adsbygoogle"
    			 style="display:block"
		    	 data-ad-client="ca-pub-2102095900235764"
		    	 data-ad-slot="8021542339"
			     data-ad-format="auto">
			</ins>
			<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
		</div>
	</div>

</div>
