{literal}
<div id="mail-ru-counter" style="width: 88px; height: 31px; float: left; margin: 0 4px 0 0;">
<span class="bors_lazy_load"><!--
<script type="text/javascript">//<![CDATA[
var a='';js=10;d=document;
try{a+=';r='+escape(d.referrer);}catch(e){}try{a+=';j='+navigator.javaEnabled();js=11;}catch(e){}
try{s=screen;a+=';s='+s.width+'*'+s.height;a+=';d='+(s.colorDepth?s.colorDepth:s.pixelDepth);js=12;}catch(e){}
try{if(typeof((new Array).push('t'))==="number")js=13;}catch(e){}
try{$('#mail-ru-counter').html('<a href="http://top.mail.ru/jump?from=1574967"><img src="http://d8.c0.b8.a1.top.mail.ru/counter?id=1574967;t=57;js='+js+
a+';rand='+Math.random()+'" alt="Рейтинг@Mail.ru" style="border:0;" height="31" width="88" \/><\/a>');}catch(e){}//]]></script>
--></span>
<noscript><p><a href="http://top.mail.ru/jump?from=1574967"><img src="http://d8.c0.b8.a1.top.mail.ru/counter?js=na;id=1574967;t=57" 
style="border:0;" height="31" width="88" alt="Рейтинг@Mail.ru" /></a></p></noscript>
</div>
{/literal}
