<div align="center">
{assign var="owner" value=$p->owner()}
{if $owner->use_avatar()}<div style="width: 100px; height: 100px; text-align: center; vertical-align: middle; overflow: hidden;"><img src="http://balancer.ru/forum/punbb/img/avatars/{$owner->use_avatar()}" width="{$owner->avatar_width()}" height="$owner->avatar_height()" alt="" /></div>{/if}
<div style="font-size: 9pt; font-weight: 900;">{$p->author_name()}</div>
{if $owner->group_title()}<div style="font-size: 8pt;">{$owner->group_title}</div>{/if}
</div>
