<div class="pages_select right">
{if $this->is_closed()}
	Тема закрыта
{else}
	<a href="{$this->forum()->category()->url()}post.php?tid={$this->id()}" 
		class="select_page" 
		onclick="return confirm('Внимание! Вы выбираете ответ не на конкретное сообщение (кнопкой «Ответить на сообщение»), а непосредственно в тему. В этом случае будет отсутствовать привязка ответа к отвечаемому сообщению. И, если Вы своим ответом отклоняетесь от основной темы обсуждения, то при возможном разделении темы создадите лишнюю работу модераторам. За что можете получить штрафной балл. Вы уверены, что хотите ответить именно в тему, без привязки к конкретному сообщению?');"
	>Ответ в эту тему</a>
{/if}
<a href="{$this->forum()->category()->url()}post.php?fid={$this->forum()|get:id}" class="select_page">Создать новую тему</a>
</div>

{if $this->pages_links()}<div class="pages_select">Страницы: {$this->pages_links()}</div>{/if}

{if not $this->is_public_access()}<div class="yellow_box">Тема с ограниченным доступом</div>{/if}

{foreach from=$posts item=p}
{if $p->id()}
<a name="p{$p->id()}"></a>
<dl class="forumposting posted_by_{$p->owner_id()}">
<dt>
<span class="colleft-100">
{$p->flag()}&nbsp;{$p->author_name()}, <a href="{$p->url()}">{$p->create_time()|full_time}</a>
{if $p->answer_to_id()}
{assign var=a value=$p->answer_to()}
{if $a}
<span class="answer">(ответ на {$a->author_name()}, <a href="{$a->url()}">{$a->create_time()|full_time}</a>)</span>
{else}Ответ на удалённое сообщение post_id={$p->answer_to_id()}
{/if}
{/if}
</span>
<span class="colright-100">
<span class="half-transparent">
{$p->imaged_edit_url()}
</span>
</span>
<span class="clear">&nbsp;</span>
</dt>
<dd>

{assign var="owner" value=$p->owner()}
{assign var="ref" value=$p->url()}
<div class="avatar_block">{if $owner}{include file="xfile:templates/post-avatar.html"}{else}<div><img src="http://www.gravatar.com/avatar/{$p->poster_ip()|md5}?d=wavatar" width="100" height="100" alt="" /></div><h4>{$p->author_name()}</h4><h5>Гость</h5>{/if}</div>

{$p->body()}

<div class="postsignature">
{if $owner and $owner->signature()}{$owner->signature_html()}{/if}
<span class="img_middle">
&nbsp;{$p->owner_user_agent()}
</span>
</div>

{if $p->attaches()}
<hr />
Прикреплённые файлы:
{foreach from=$p->attaches() item="attach"}
<div class="box float_left center" style="width: 300px; ">{$attach->thumbnail_link('300x300')}<a href="{$attach->url()}">{$attach->title()}</a> [{$attach->size()|smart_size}, {$attach->downloads()} {$attach->downloads()|sklon:'загрузка':'загрузки':'загрузок'}]</div>
{/foreach}
{/if}

{if $p->edited() && $p->edited() > $p->create_time() + 300}<div class="edited_note">
Это сообщение редактировалось {$p->edited()|strftime:"%d.%m.%Y в %H:%M"}
</div>{/if}

{if $p->warning()}<div class="warning_note">
<b>{$p->warning()|get:moderator_name}:</b> предупреждение ({$p->warning()|get:score})
{if $p->warning()|get:type_id} по категории «<b>{$p->warning()|get:type_id|bors_list_item_name:"airbase_user_warning_type"}</b>»
{if $p->warning()|get:source}(<i>{$p->warning()|get:source}</i>){/if}
{/if}.
</div>{/if}

<ul class="postfooter">
<li><a href="http://balancer.ru/user/{$p->owner_id()}/reputation.html?{$p->url()}">Репутация автору</a></li>
<li>|</li>
<li class="postreport"><a href="http://balancer.ru/forum/punbb/misc.php?report={$p->id()}">Сообщить модератору</a></li>
<li class="postdelete"><a href="http://balancer.ru/forum/tools/post/{$p->id()}/">Инструменты</a></li>
{if $this->is_public_access() and $owner}<li><script type="text/javascript">warn_icon('{$p->internal_uri()}', {$owner->id()})</script></li>{/if}
<li>{$p->imaged_edit_url()}Редактор</li>
<li>|</li>
<li class="pages_select">
 <a href="{$this->forum()->category()->url()}post.php?tid={$p->topic_id()}&amp;qid={$p->id()}" 
  class="current_page">Ответить на сообщение</a>
</li>
</ul>

<ul class="postfooter coordinators">
<li>Групповые операции:</li>
<li><input type="checkbox" id="_chkbx_p{$p->id()}" onclick="return apfgp(this, {$p->id()})" /><label for="_chkbx_p{$p->id()}">&nbsp;отметить</label></li>
<li> | <a href="/admin/forum/posts/move-tree">перенос в другую тему</a></li>
</ul>

</dd>
</dl>
{/if}
{/foreach}

{if $this->pages_links()}<div class="pages_select">Страницы: {$this->pages_links()}</div>{/if}

{if 0 && $p}
{if not $this->is_closed()}
<dl class="forumposting quickform">
<dt>Форма быстрого ответа</dt>
<dd>
<form method="post" action="{$this->forum()->category()->url()}post.php?tid={$p->topic_id()}" onsubmit="{literal}this.submit.disabled=true;if(process_form(this)){return true;}else{this.submit.disabled=false;return false;}{/literal}">
	<div class="inform">
	<fieldset>
		<legend>Напишите ваше сообщение и нажмите отправить</legend>
		<div class="infldset txtarea">
			<input type="hidden" name="form_sent" value="1" />
			<label><textarea class="quickreplyform" name="req_message" rows="7" cols="60" tabindex="1"></textarea></label>
			<ul class="postfooter">
				<li><a href="http://balancer.ru/forum/punbb/help.php#bbcode" onclick="window.open(this.href); return false;">BBCode</a>: включён</li>
				<li><a href="http://balancer.ru/forum/punbb/help.php#img" onclick="window.open(this.href); return false;">[img] тег</a>: включён</li>
				<li><a href="http://balancer.ru/forum/punbb/help.php#smilies" onclick="window.open(this.href); return false;">Смайлики</a>: включён</li>
			</ul>
		</div>
	</fieldset>
	</div>
	<p><input type="submit" name="submit" tabindex="2" value="Отправить" accesskey="s" /></p>
</form>
</dd>
</dl>
{/if}
{/if}
