div.post {
	border: none;
	padding: 0 0 20px 0;
}

div.post div.head, div.post div.head a {
	font-size: 12pt;
	background: url(menu.png);
	color: white !important;
	border-color: #D7D7D7;
	height: 42px;
	line-height: 37px;
	padding: 0 10px;
	white-space: nowrap;
	overflow: hidden;
}

.post .body {
	padding: 10px 0;
}

span.answer {
	font-size: 10pt;
	padding-left: 2ex;
}

span.q {
	font-style: italic;
	font-size: 0.8em;
	color: #999;
}

div.box a {
	border: none !important;
}

.no-underline a {
	text-decoration: none !important;
	border: none !important;
}

.transgray, .transgray a {
	color: #ccc !important;
	font-size: 8pt !important;
}
