<head>
<html><head><title>{$title} ({$description|strip_tags} /Авиабаза =KRoN=/)</title>
<link rel="stylesheet" type="text/css" href="http://www.airbase.ru/inc/css/style.phtml">
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta property="fb:admins" content="100000278666723" />
<link rel="SHORTCUT ICON" href="/favicon.ico" />
<link rel="stylesheet" type="text/css" href="/_bors/css/layout.css" />
<link rel="stylesheet" type="text/css" href="/_bors/css/bors/style.css" />
<link rel="stylesheet" type="text/css" href="/templates/airbase/default/main.css" />
<script  type="text/javascript" src="/_bors/js/funcs.js"></script>
<script  type="text/javascript" src="/_bors/js/tune.js"></script>
</head>
<body text="#003366" bgColor="#e0e0e8" backGround="http://www.airbase.ru/images/web/sky-back.jpg" onload="onLoadPage()">
<table width="100%" border="0" cellPadding="0" cellSpacing="0">
<tr><td colSpan="4" style="padding: 0px; margin: 0px;">
<noindex><table cellPadding="0" cellSpacing="0" width="100%"><tr><td><a href="http://www.airbase.ru/"><img src="http://www.airbase.ru/images/web/top-rus-airbase.gif" border="0" alt="Авиабаза =KRoN=" title="Логотип"></a></td><td align="right">
<form method="get" action="http://www.balancer.ru/tools/search/result/">
<input type="text" name="q" value="" />
<input type="submit" value="искать" />
</form>
</td></tr></table>
</td></tr>
<tr><td>&nbsp;</td><td colSpan="3"><noindex>
<div class="tabs">

<a href="{$uri}" class="{if not $action}selected{else}plain{/if}" title="Просмотр страницы"><img src="http://www.airbase.ru/img/tools/b_browse.png" width="16" height="16" alt="*" border="0">просмотр</a>
<!--    <a href="#" class="plain">обсуждение</a> -->
<a href="{if $this}{$this->admin_url()}{else}{$uri}?edit{/if}" class="{if $action == "edit"}selected{else}plain{/if}" title="Редактировать страницу"><img src="http://www.airbase.ru/img/tools/b_edit.png" width="16" height="16" alt="*" border="0">редактор</a>
<a href="{$uri}?edit-data" class="{if $action=="edit-data"}selected{else}plain{/if}" title="Параметры страницы"><img src="http://www.airbase.ru/img/tools/b_props.png" width="16" height="16" alt="*" border="0">параметры</a>
<a href="{$uri}?nav_edit" class="{if $action=="edit-tools"}selected{else}plain{/if}" title="Редактирование навигации"><img src="http://www.airbase.ru/img/tools/s_db.png" width="16" height="16" alt="*" border="0">навигация</a>
<a href="{$uri}?page-tools" class="{if $action=="edit-tools"}selected{else}plain{/if}" title="Операции над страницей"><img src="http://www.airbase.ru/img/tools/s_db.png" width="16" height="16" alt="*" border="0">инструменты</a>
</div></noindex></td></tr>

<tr><td width="150" rowSpan="2" vAlign="top" style="border-right: 1px solid #0066cc;">
<noindex>
{include file="xfile:airbase/default/left-menu.html" assign="left_menu"}
{$left_menu|lcml}
{load_data page="/cms/modules/counters/hidden/" key="source"}
{include_html file="airbase/counters/yandex-metrika.html"}
</noindex>
</td><td colSpan="3" height="10" vAlign="top" bgColor="#F0F4F8" style="padding: 8px 4px 0px 0px;">

<noindex><table class="nav"><tr><td>
{* bors_call func=module param="top-navs.php" *}
{module name="top-navs"}
</td></tr></table></noindex>
<small><i>{$description}</i></small>

<h1>{$title}</h1>
</td></tr><tr><td width="650" vAlign="top" bgColor="#F0F4F8" style="border-bottom: 1px solid #0066cc; padding: 0px 4px 4px 8px; width: 17cm;">
<script src="http://www.airbase.ru/inc/js/width.js"></script>
<script>if(width>650) width=650;</script>
					
{$body}
					
<div align="right" style="border-top: 1px solid; margin: 16px 0px 0px 0px;">
{if $copyright}Copyright &copy; {$copyright}<br />{/if}
Создано {$create_time|strftime:"%d.%m.%Y"}<br />
{if $version}{$version}-я версия от {$modify_time|strftime:"%d.%m.%Y"}<br />{/if}
{* {$views}-е посещение с {$views_first|strftime:"%d.%m.%Y"}<br /> *}
{if $views_average}В среднем посещений в день: {$views_average}{/if}
</div>
					
</td>
<td width="150" vAlign="top" bgColor="#F0F4F8" style="border-bottom: 1px solid #0066cc; padding: 8px 4px 4px 0px">
					
<noindex>
{* call func=module param="child-pages.php" *}
{* call func=module param="forum-title-keyword.php" *}
{* call func=module param="referers.php" *}
{* call func=module param="page_history.php" *}
{$right_column}
</noindex>
					
</td>
<td vAlign="top" bgColor="#F0F4F8" style="border-bottom: 1px solid #0066cc;">
&nbsp;
</td></tr></table>

<!-- 
=== debug-info === 
{if $this}
class = {$this->class_name()}
class_file = {$this->class_file()}
{/if}


template[3] = {$template} 
make_time = {$make_time}  
template = {$page_template}  
created = {$now|strftime:"%d.%m.%Y %H:%M"}  
{if $this}{math assign=exp equation="x+y" x=$this->cache_static() y=$now}static expire = {$exp|strftime:"%d.%m.%Y %H:%M"}
{/if}
-->
</body>
</html>
				