<dl class="box">
<dt>Основные разделы</dt>
<dd>
 * [http://www.airbase.ru/|Авиабаза]
 * [http://www.balancer.ru/forum/|Форумы]
 * [/hangar/|Ангар]
  * [/hangar/planes/|самолёты]
   * [/hangar/planes/mil/|боевые]
  * [/hangar/helicopters/|вертолёты]
  * [/hangar/russia/|Россия]
   * [/hangar/russia/soukhoi/|Сухой]
   * [/hangar/russia/mikoyan/|МиГ]
  * [/hangar/usa/|США]
  * [/hangar/equipment/|оборудование]
 * [/wars/|Войны]
 * [/alpha/|Алфавит]
 * [/log/|Бортжурнал]
 * [/news/|Информбюро]
 * [/space/|Космос]
 * [/books/|Библиотека]
 * [/photos/|Фотогалерея]
 * [/video/|Видео]
 * [/military/|Общевоенное]
 * [/reports/|Репортажи]
 * [/crashes/|Катастрофы]
 * [/wars/|Войны]
 * [/web/|Ссылки]
 * [/sim/|Авиасимуляторы]
 * [/aerobatic/|Пилотаж]
 * [/squad/|Части]
 * [/staff/|Личный состав]
 * [/humor/|Юмор]
 * [/3d/|3D-графика]
 * [/peoples/|Люди]
 * [/chat/|Чат]
 * [/faq/|FAQ]
 * [/relax/|Отдых]
 * [/support/|Техподдержка]
 * [/tools/search/|Поиск]
 * [/help/|Помощь]

[center]
[delayed]<center><a href="http://whos.amung.us/show/qz1y4sp9"><img src="http://whos.amung.us/swidget/qz1y4sp9.png" alt="website counter" width="80" height="15" /></a></center>[/delayed]
[javascript]kod = 2537;
width = 150;
document.write('<span><!-'+'-<a href="http://www.mapyourvisitors.com/map' + kod + '.php"><img src="http://www.mapyourvisitors.com/' + width + '/' + kod + '.jpg?r=' + escape(document.referrer) + '&u=' + escape(document.URL) + '" alt="[MAP]" title="MapYourVisitors.COM - Нанесите на карту ваших посетителей" /></a>-'+'-></span>');
[/javascript]
[delayed]<center><a href="http://s02.flagcounter.com/more/NNik"><img src="http://s02.flagcounter.com/count/NNik/bg=FFFFFF/txt=000000/border=CCCCCC/columns=2/maxflags=12/viewers=0/labels=0/" alt="free counters" border="0"></a></center>[/delayed]
[javascript]
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

var pageTracker = _gat._getTracker("UA-3907196-1");
pageTracker._trackPageview();
[/javascript]

[html]
<!--Rating@Mail.ru COUNTER[2]--><script language="JavaScript" type="text/javascript"><!--
d=document;var a='';a+=';r='+escape(d.referrer)
js=10//--></script><script language="JavaScript1.1" type="text/javascript"><!--
a+=';j='+navigator.javaEnabled()
js=11//--></script><script language="JavaScript1.2" type="text/javascript"><!--
s=screen;a+=';s='+s.width+'*'+s.height
a+=';d='+(s.colorDepth?s.colorDepth:s.pixelDepth)
js=12//--></script><script language="JavaScript1.3" type="text/javascript"><!--
js=13//--></script><script language="JavaScript" type="text/javascript"><!--
d.write('<a href="http://top.mail.ru/jump?from=1574967"'+
' target="_top"><img src="http://d8.c0.b8.a1.top.mail.ru/counter'+
'?id=1574967;t=57;js='+js+a+';rand='+Math.random()+
'" alt="Рейтинг@Mail.ru"'+' border="0" height="31" width="88"/><\/a>')
if(11<js)d.write('<'+'!-- ')//--></script><noscript><a
target="_top" href="http://top.mail.ru/jump?from=1574967"><img
src="http://d8.c0.b8.a1.top.mail.ru/counter?js=na;id=1574967;t=57"
border="0" height="31" width="88"
alt="Рейтинг@Mail.ru"/></a></noscript><script language="JavaScript" type="text/javascript"><!--
if(11<js)d.write('--'+'>')//--></script><!--/COUNTER-->

<a href="http://top.airbase.ru/"><img src="http://top.airbase.ru/?id=1" width="88" height="31" border="0" alt="АвиаТОП" title="Числа: место в рейтинге, хитов всего и хитов в сутки"></a>
[/html]
[/center]

</dd></dl>
