<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <title>{$this->browser_title()} // Balancer.Ru</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta property="fb:admins" content="100000278666723" />
  <link rel="stylesheet" type="text/css" href="/_bors/css/layout.css" />
  <link rel="stylesheet" type="text/css" href="/_bors/css/bors/style.css" />
  <link rel="stylesheet" type="text/css" href="/templates/blue_spring/style/style.css" />
  <link rel="stylesheet" type="text/css" href="/templates/blue_spring/style/colour.css" />
  <link rel="stylesheet" type="text/css" href="/templates/blue_spring/style/bal.css" />
	<link href='http://fonts.googleapis.com/css?family=Scada&subset=cyrillic' rel='stylesheet' type='text/css'>
{if not empty($css_list)}{foreach item=css from=$css_list}
<style type="text/css" media="all">@import url("{$css}");</style>
{/foreach}{/if}
{if not empty($js_include)}{foreach from=$js_include item="s"}
<script type="text/javascript" src="{$s}"></script>
{/foreach}{/if}
{if not empty($javascript)}
<script type="text/javascript"><!--
{foreach from=$javascript item="s"}
{$s}
{/foreach}
--></script>
{/if}
{if $bors_touch_params}
<script type="text/javascript">$(function(){literal}{{/literal}$.getScript('/_bors/js/touch?{$bors_touch_params}'){literal}}{/literal});</script>
{/if}

	<script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>

</head>

<body>

  <div id="main">
    <div id="links">
      <a href="http://www.balancer.ru/forum/">форумы</a>
      	 | <a href="http://www.balancer.ru/tools/search/">поиск</a>
      	 | <a href="http://www.airbase.ru/">авиабаза</a>
      	 | <a href="http://la2.balancer.ru/">La2.Balancer.Ru</a>
    </div>
    <div id="logo">
    	<h1><a href="http://www.balancer.ru/">Balancer.Ru</a></h1>
    </div>
    <div id="content">
      <div id="menu">
        <ul>
          <li><a id="selected" href="/">Главная</a></li>
          <li><a href="/welcome/">Добро пожаловать</a></li>
          <li><a href="/blog/">Блог</a></li>
        </ul>
      </div>
      <div id="column1">

		{if $this->description()}
        <div class="sidebaritem"><div class="sbihead"><h1>На полях</h1></div>
          <div class="sbicontent">
			{$this->description()|lcml}
          </div>
        </div>
		{/if}

        <div class="sidebaritem"><div class="sbihead"><h1>Информация</h1></div>
          <div class="sbicontent">
			Сайт в стадии реконструкции. Пользуйтесь <a href="http://www.balancer.ru/forum/">форумами</a>.
          </div>
        </div>

        <div class="sidebaritem"><div class="sbihead"><h1>Подразделы</h1></div>
          <div class="sbicontent">
			<ul>
				<li><a href="/blog/">Блог</a></li>
				<li><a href="/photo/">Фотография</a></li>
				<li><a href="/sky/photos/">Астрофото</a></li>
				<li><a href="/web/">Интернет</a></li>
				<li><a href="/web/">Web</a></li>
				<li><a href="/webdev/">Web-разработка</a></li>
				<li><a href="/socionics/">Соционика</a></li>
			</ul>
          </div>
        </div>

        <div class="sidebaritem"><div class="sbihead"><h1>Проекты</h1></div>
          <div class="sbicontent">
			<ul>
				<li><a href="http://www.airbase.ru/">Авиабаза</a></li>
				<li><a href="http://navy.balancer.ru/">Флот</a></li>
				<li><a href="/club/">Клуб</a></li>
			</ul>
          </div>
        </div>

        <div class="sidebaritem">
        	<div class="sbihead"><h1>Твиттер</h1></div>
			<div class="sbicontent" style="padding: 0; margin: 4px; width: 199px">

<a class="twitter-timeline" href="https://twitter.com/balancer73/lists/balancer" data-widget-id="725001148244086785">Твиты от https://twitter.com/balancer73/lists/balancer</a>
<script>!function(d,s,id){
var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){
js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

			</div>
		</div>

        <div class="sidebaritem"><div class="sbihead"><h1>Смотри также</h1></div>
          <div class="sbicontent">
			<ul>
				<li><a href="http://www.airbase.ru/">Авиабаза</a></li>
				<li><a href="http://bors.balancer.ru/">Фреймворк BORS(c)</a></li>
			</ul>
          </div>
        </div>

        <div class="sidebaritem"><div class="sbihead"><h1>Статистика</h1></div>
          <div class="sbicontent no-underline">
			{include file="xfile:/var/www/www.balancer.ru/bors-site/templates/balancer/count-yandex.html"}
          </div>
        </div>

        <div class="sidebaritem"><div class="sbihead">Друзья, соседи, проекты</div>
          <div class="sbicontent no-underline">
			<ul>
				<li><a href="http://marina.a0z.ru">Детский массаж в Москве</a></li>

			</ul>
          </div>
        </div>

      </div>

      <div id="column2">
		<div class="top-nav">{module class="module_nav_top" id=$this}</div>
        <h1>{$this->page_title()}</h1>

		{$body}


<br/><br/>

		<div id="vk_comments"></div>

<br/>
<hr/>
<br/>

<div id="disqus_thread"></div>

      </div>
    </div>
    <div id="footer">
      copyright &copy; 2000-{0|strftime:"%Y"} <a href="https://plus.google.com/113730597040634449637?rel=author">Balancer</a> | <a href="mailto:balancer@balancer.ru">balancer@balancer.ru</a> | <a href="http://bors.balancer.ru">BORS&copy; framework</a> | <a href="http://www.dcarter.co.uk">design by dcarter</a><br/>
{*		<b>Сайт работает на сервере <a href="http://www.etegro.com/"><u>ETegro Technologies</u></a></b> *}
    </div>
  </div>
</body>

<script type="text/javascript">
  VK.init({ apiId: 3396525, onlyWidgets: true});
</script>

<script type="text/javascript">
VK.Widgets.Comments("vk_comments", {
	limit: 5,
	width: "640",
	attach: "*",
	pageUrl: '{$this->url()}'
}, '{$this->uuid_hash()}');
</script>

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'balancer-ru';
	var disqus_identifier = '{$this->url()|addslashes}';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>


</html>
