<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <title>{$title} // Balancer.Ru</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <link rel="stylesheet" type="text/css" href="/_bors/css/layout.css" />
  <link rel="stylesheet" type="text/css" href="/_bors/css/bors/style.css" />
  <link rel="stylesheet" type="text/css" href="/templates/blue_spring/style/style.css" />
  <link rel="stylesheet" type="text/css" href="/templates/blue_spring/style/colour.css" />
  <link rel="stylesheet" type="text/css" href="/templates/blue_spring/style/bal.css" />
</head>

<body>
  <div id="main">
    <div id="links">
      <a href="http://balancer.ru/forum/">форумы</a>
      	 | <a href="http://balancer.ru/tools/search/">поиск</a>
      	 | <a href="http://airbase.ru/">авиабаза</a>
      	 | <a href="http://la2.balancer.ru/">La2.Balancer.Ru</a>
    </div>
    <div id="logo">
    	<h1>Balancer.Ru</h1>
    </div>
    <div id="content">
      <div id="menu">
        <ul>
          <li><a id="selected" href="/">Balancer.Ru</a></li>
          <li><a href="http://balancer.ru/user/10000/blog/">Блог</a></li>
        </ul>
      </div>
      <div id="column1">

        <div class="sidebaritem"><div class="sbihead"><h1>Информация</h1></div>
          <div class="sbicontent">
			Сайт в стадии реконструкции. Пользуйтесь <a href="http://balancer.ru/forum/">форумами</a>.
          </div>
        </div>

        <div class="sidebaritem"><div class="sbihead"><h1>Подразделы</h1></div>
          <div class="sbicontent">
			<ul>
				<li><a href="/blog/">Блог</a></li>
				<li><a href="/webapps/">Web-компоненты</a></li>
				<li><a href="/socionics/">Соционика</a></li>
			</ul>
          </div>
        </div>

        <div class="sidebaritem"><div class="sbihead"><h1>Смотри также</h1></div>
          <div class="sbicontent">
			<ul>
				<li><a href="http://airbase.ru/">Авиабаза</a></li>
				<li><a href="http://bors.balancer.ru/">Фреймворк BORS(c)</a></li>
			</ul>
          </div>
        </div>

{literal}
<!-- Yandex.Metrika -->
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript"></script>
<script type="text/javascript">
try { var yaCounter510488 = new Ya.Metrika(510488); } catch(e){}
</script>
<noscript><div style="position: absolute;"><img src="//mc.yandex.ru/watch/510488" alt="" /></div></noscript>
<!-- /Yandex.Metrika -->
{/literal}

      </div>
      <div id="column2">
        <h1>{$title}</h1>

		{$body}

      </div>
    </div>
    <div id="footer">
      copyright &copy; 2000-{0|strftime:"%Y"} Balancer | <a href="mailto:balancer@balancer.ru">balancer@balancer.ru</a> | <a href="http://bors.balancer.ru">BORS&copy; framework</a> | <a href="http://www.dcarter.co.uk">design by dcarter</a><br/>
		<b>Сайт работает на сервере <a href="http://www.etegro.com/"><u>ETegro Technologies</u></a></b>
    </div>
  </div>
</body>
</html>
