<p>Здравствуйте, {$user->title()}!</p>

<p>Вы получили это письмо, так как являетесь зарегистрированным пользователем
<a href="http://balancer.ru/forum/">Форумов Balancer'а</a>.
Оно является копией сообщения форума <a href="{$post->url_for_igo()}">{$post->topic()->title()}</a>
и Вы можете его прочитать прямо там, если испытываете какие-то проблемы с его чтением в почте.</p>

<p>Также рекомендуется включить просмотр изображений в почте, если он отключен.</p>

<hr />

{$body}

<hr />

С уважением, Форумы Balancer'а!
