<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>{$title}</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="SHORTCUT ICON" href="/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="http://forums.balancer.ru/tpl/default/css/main3.css" />
	<script  type="text/javascript" src="http://forums.balancer.ru/tpl/default/js/tune.js"></script>
{if $type == 'topic' and $id}
<script type="text/javascript">
var readed = readCookie('readedTopics', "").split(' ')
if(!inArray(readed, {$id}) && readed.length < 40) readed.push({$id})
createCookie('readedTopics', readed.join(' '), 3)
</script>
{/if}
{literal}
<!--[if IE]><style>
.outer, .wide, h2, .wrapper, .minwidth {
	height: 0;
	height: auto;
	zoom: 1;
}
dd, dt { height: 1%; }
</style><![endif]-->
<!--[if lt IE 7]><style>
.minwidth {
	border-left: 404px solid #fff;
}
.wrapper {
	margin-left: -404px;
	position: relative;
}
</style><![endif]-->
{/literal}
{if $header}
{foreach from=$header item="h"}
{$h}
{/foreach}
{/if}
</head>

<body text="#003366" bgColor="#e0e0e8" backGround="http://airbase.ru/images/web/sky-back.jpg" id="body" onLoad="onLoad(this)">

<div class="minwidth"><div class="wrapper">

<div class="wide top">
&nbsp;
</div>

<div class="outer">

	<div class="center"><div class="incenter" id="incenter">

		<dl class="forumposting">
		<dt><div class="nav">{module name="top-navs"}</div></dt>
		<dd><h1>{$title}</h1></dd>
		</dl>
		{$body}

	  <div class="copyright">
        Copyright &copy; Balancer 1997..{0|strftime:"%Y"}<br/>
	    {if $create_time}Создано {$create_time|strftime:"%d.%m.%Y"}<br/>{/if}
		{if $views}{* {$views}-е посещение с {$views_first|strftime:"%d.%m.%Y"}<br/> *}{/if}
		{if $views_average}В среднем посещений в день: {$views_average}<br/>{/if}
	  </div>


	</div></div> <!-- end center div -->

	<div class="left"><div class="inleft">

		<dl class="box w200">
		<dt>Поиск</dt>
		<dd>
			<form method="get" action="http://balancer.ru/search/topic_titles/">
			<input type="text" class="text" name="q" value="Су-27" />
			<input type="submit" class="submit" value="искать" />
			</form>
		</dd>
		</dl>
		
		<dl class="box w200">
		<dt>Настройки</dt>
		<dd>
			<script type="text/javascript" encoding="UTF-8">
				createSelect("Шрифт", "fontFamily", "default(Verdana):Verdana;Georgia;sans-serif;serif;monospace", "Verdana")
				createSelect("Размер", "fontSize", "8pt;default(10pt):10pt;12pt;14pt;16pt;20pt;24pt", "10pt")
				createSelect("Расстояние до монитора", "incenter.width", "auto;30cm:14cm;45cm:20cm;70cm:30cm", "auto")
			</script>
			<noscript>Не работает без JavaScript</noscript>
		</dd>
		</dl>

		<dl class="box w200">
		<dt>Персональное</dt>
		<dd>
			<script>
var me_id = readCookie('user_id', 0)
var me_hash = readCookie('cookie_hash', 0)
			if(me_id < 2 || !me_hash)
				document.writeln("<"+"script  type=\"text/javascript\" src=\"{$bors_local_cache}templates/login.js\"></"+"script>")
			else
				document.writeln("<"+"script  type=\"text/javascript\" src=\"http://balancer.ru/user/"+me_id+"/personal.js\"></"+"script>")
			</script>
			<noscript>Не работает без JavaScript</noscript>
		</dd>
		</dl>

		<dl class="box w200">
		<dt>Новости сайта</dt>
		<dd>
		{module name="forums/sitenews"}
		</dd>
		</dl>

	</div></div> <!-- end left div -->

	<br class="clear" />
</div> <!-- end outer div -->

<div class="wide bottom">
&nbsp;
</div>

</div></div>


</body>
</html>
