<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>{$this->browser_title()}</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="SHORTCUT ICON" href="/favicon.ico" />
{if $this->get('browser_description')}
	<meta name="description" content="{$this->browser_description()|htmlspecialchars}"/>
{/if}
</head>

<body>

<p><small><i>{module class="module_nav_top"}</i></small></p>

{if $this->pages_links()}<div class="pages_select">{"Страницы:"|ec} {$this->pages_links()}</div>{/if}

<h1>{$this->page_title()}</h1>

{$body}

<p>
Copyright &copy; <a href="//plus.google.com/113730597040634449637?rel=author">Balancer</a> 1997..{0|strftime:"%Y"}<br/>
{if $create_time}Создано {$create_time|strftime:"%d.%m.%Y"}<br/>{/if}
{if $views}{* {$views}-е посещение с {$views_first|strftime:"%d.%m.%Y"}<br/> *}{/if}
{if $views_average}В среднем посещений в день: {$views_average}<br/>{/if}
Связь с владельцами и администрацией сайта: <a href="mailto:anonisimov@gmail.com">anonisimov@gmail.com</a>, <a href="mailto:rwasp1957@yandex.ru">rwasp1957@yandex.ru</a> и <a href="mailto:admin@balancer.ru">admin@balancer.ru</a>.<br/>
</p>


</body>
</html>
