<div class="pages_select right">

<a href="http://ls.balancer.ru/question/add/"
		class="{if config('css_bootstrap_is_loaded')}btn btn-small{else}select_page{/if}"
	>{"Новый опрос"|ec}</a>

<a href="http://ls.balancer.ru/photoset/add/"
		class="{if config('css_bootstrap_is_loaded')}btn btn-small{else}select_page{/if}"
	>{"Новый фотосет"|ec}</a>

{if $this->new_class_name() == 'balancer_board_topic'}
<a href="{$this->forum()->category()->category_base_full()}post.php?fid={$this->forum()|get:id}"
		class="{if config('css_bootstrap_is_loaded')}btn btn-small btn-warning{else}select_page{/if}"
	>{"Новая тема"|ec}</a>

	{if $this->is_closed()}
	<a href="#" class="btn btn-small disabled">{"Тема закрыта"|ec}</a>
	{else}
	<a href="{$this->forum()->category()->category_base_full()}post.php?tid={$this->id()}" 
		class="{if config('css_bootstrap_is_loaded')}btn btn-small btn-primary{else}select_page{/if} theme_answer_button"
	>{"Ответ в эту тему"|ec}</a>
	{/if}
{/if}

</div>

{if $this->pages_links()}<div class="pages_select">{"Страницы:"|ec} {$this->pages_links()}</div>{/if}

{if not $this->is_public_access()}<div class="yellow_box">{"Тема с ограниченным доступом"|ec}</div>{/if}

{if $prev_actions}
<br/><div class="box small"><ul>
{foreach from=$prev_actions item="a"}
<li{$a->type_class()} style="font-size: 8pt">{$a->owner()->title()} [{$a->create_time()|full_time}]: {$a->message()}</li>
{/foreach}
</ul></div>
{/if}

{foreach $posts as $p}
<!-- {$p->id()} -->
	{if $this->new_class_name() == 'balancer_board_topic'}
		{include file="xfile:forum/post.html"}
	{else}
		{include file="xfile:forum/post.html"
			forum=$p->topic()->forum()
			show_title=$p->topic()->titled_link_ex('new')
		}
	{/if}
	{if $p@first}
		{if $this->get('can_adsense')}
			{include file="xfile:forum/ads/top-ad-google.html"}
		{elseif $this->get('can_yandex_direct')}
			{include file="xfile:forum/ads/yandex-direct-h2-middle.html"}
		{/if}
	{/if}
{foreachelse}
<div class="alert alert-warning shadow8">
	В этой теме нет ни одного сообщения. Вероятно, они перенесены в другие,
	более подходящие темы. Смотрите операции над темой в конце страницы.
</div>
{/foreach}

{if $last_actions}
<dl class="box{if $posts} small{/if}">
<dt>{"Последние действия над темой"|ec}</dt>
<dd><ul>
{foreach from=$last_actions item="a"}
<li{$a->type_class()}{if $posts} style="font-size: 8pt"{/if}>{$a->owner()->title()} [{$a->create_time()|full_time}]: {$a->message()}</li>
{/foreach}
<li><b><a href="http://forums.balancer.ru/topics/{$this->id()}/actions/">Все действия над темой</a></b></li>
</ul></dd>
</dl>
{/if}

{if $this->pages_links()}<div class="pages_select">{"Страницы:"|ec} {$this->pages_links()}</div>{/if}

<div id="answer_notice_content" style="display:none">{if $this->get('answer_notice')}{$this->answer_notice()|lcml_bb|trim}{/if}</div>
