<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>{$browser_title|htmlspecialchars}</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="title" content="{$title|htmlspecialchars}" />
	<meta property="fb:admins" content="100000278666723" />
{if $this->description()}
	<meta name="description" content="{$this->description()|htmlspecialchars}"/>
{/if}
{if $this->get('keywords_string')}
	<meta name="keywords" content="{$this->keywords_string()|htmlspecialchars}"/>
{/if}
	<link rel="SHORTCUT ICON" href="/favicon.ico" />

	<link rel="stylesheet" type="text/css" href="/_bors/css/bors/style.css" />
<!--[if IE]><link href="/_bors/css/bors/ie.css" rel="stylesheet" media="all" /><![endif]-->
<!--[if IE 6]><link href="/_bors/css/bors/ie6.css" rel="stylesheet" media="all" /><![endif]-->
<!--[if IE 7]><link href="/_bors/css/bors/ie7.css" rel="stylesheet" media="all" /><![endif]-->
	<link rel="stylesheet" type="text/css" href="/_bors/css/bors/code-geshi.css" />
	<link rel="stylesheet" type="text/css" href="/_bal/css/main6.css" />
{foreach item=css from=$css_list}
	<link rel="stylesheet" type="text/css" href="{$css}" />
{/foreach}

{foreach from=$js_include item="s"}
<script type="text/javascript" src="{$s}"></script>
{/foreach}

<script type="text/javascript"><!--
top.class_name	= '{$this->class_name()}'
top.object_id	= '{$this->id()}'
top.page		= '{$this->page()}'

var me_id = readCookie('user_id', 0)
var me_hash = readCookie('cookie_hash', 0)
if(me_id > 1 && me_hash) {ldelim}
	document.writeln("<"+"script  type=\"text/javascript\" src=\"/user/"+me_id+"/setvars.js\"></"+"script>")
{rdelim}

{literal}
var addthis_config = { data_track_clickback: true }
{/literal}
--></script>

<script type="text/javascript"><!--
if(top.me_is_coordinator) {ldelim}
	document.writeln('<link rel="stylesheet" type="text/css" href="/_bors/css/coordinators.css" />')
	document.writeln('<'+'script  type="text/javascript" src="/_bors/js/coordinators.js"></'+'script>')
{rdelim}

--></script>

{if $header}
{foreach from=$header item="h"}
{$h}
{/foreach}
{/if}
{if $meta}{foreach key=key item=value from=$meta}
<meta name="{$key}" content="{$value|htmlspecialchars}" />
{/foreach}{/if}
{if $javascript}
<script type="text/javascript"><!--
{foreach from=$javascript item="s"}
{$s}
{/foreach}
--></script>
{/if}
{foreach item=s from=$head_append}
{$s}
{/foreach}
{foreach item=s from=$header_append}
{$s}
{/foreach}

</head>

<body id="body">
<div style="padding: 0 20px">
<dl class="box">
<dt class="nav">{module class="module_nav_top"}</dt>
<dd><h1>{$title}</h1>
<div class="small i">{$description}</div></dd>
</dl>

{$body}

<table>
<tr><td rowspan="2">

<!--Rating@Mail.ru counter-->
<script language="javascript" type="text/javascript">//<![CDATA[
d=document;var a='';a+=';r='+escape(d.referrer);js=10;//]]></script>
<script language="javascript1.1" type="text/javascript">//<![CDATA[
a+=';j='+navigator.javaEnabled();js=11;//]]></script>
<script language="javascript1.2" type="text/javascript">//<![CDATA[
s=screen;a+=';s='+s.width+'*'+s.height;
a+=';d='+(s.colorDepth?s.colorDepth:s.pixelDepth);js=12;//]]></script>
<script language="javascript1.3" type="text/javascript">//<![CDATA[
js=13;//]]></script><script language="javascript" type="text/javascript">//<![CDATA[
d.write('<a href="http://top.mail.ru/jump?from=1574967" target="_top">'+
'<img src="http://d8.c0.b8.a1.top.mail.ru/counter?id=1574967;t=57;js='+js+
a+';rand='+Math.random()+'" alt="Рейтинг@Mail.ru" border="0" '+
'height="31" width="88" \/><\/a>');if(11<js)d.write('<'+'!-- ');//]]></script>
<noscript><a target="_top" href="http://top.mail.ru/jump?from=1574967">
<img src="http://d8.c0.b8.a1.top.mail.ru/counter?js=na;id=1574967;t=57" 
height="31" width="88" border="0" alt="Рейтинг@Mail.ru" /></a></noscript>
<script language="javascript" type="text/javascript">//<![CDATA[
if(11<js)d.write('--'+'&#062');//]]></script>
<!--// Rating@Mail.ru counter-->

</td><td rowspan="2">

<a href="http://top.airbase.ru/"><img src="http://top.airbase.ru/?id=1" width="88" height="31" alt="АвиаТОП" title="Числа: место в рейтинге, хитов всего и хитов в сутки" /></a>

</td><td>

<!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t26.10;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";h"+escape(document.title.substring(0,80))+";"+Math.random()+
"' alt='' title='LiveInternet: показано число посетителей за"+
" сегодня' "+
"border='0' width='88' height='15'><\/a>")
//--></script><!--/LiveInternet-->

</td><td rowspan="2">

<script type="text/javascript"><!--
kod = 2537;
width = 185;
document.write('<span><!-'+'-<a href="http://www.mapyourvisitors.com/map' + kod + '.php"><img src="http://www.mapyourvisitors.com/' + width + '/' + kod + '.jpg?r=' + escape(document.referrer) + '&u=' + escape(document.URL) + '" alt="MapYourVisitors.COM" title="MapYourVisitors.COM - Нанесите на карту ваших посетителей" /></a>-'+'-></span><br />');
--></script>

</td></tr><tr><td>

<a href="http://whos.amung.us/show/qz1y4sp9"><img src="http://whos.amung.us/swidget/qz1y4sp9.png" alt="website counter" width="80" height="15" /></a>


</td></tr></table>

{include file="xfile:balancer/board/count-yandex.html"}

<div class="copyright">Copyright &copy; <a href="https://plus.google.com/113730597040634449637?rel=author">Balancer</a> 1999 — {0|strftime:"%Y"}</div>

</div>

</body>
</html>
